<!-- <app-header></app-header>
<div class="body">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="sidenav">
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard">Dashboard</a>
            <a mat-list-item routerLink="/listing">Listing</a>
            <!-- add more links here -->
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="toggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
            <app-header></app-header>
        </mat-toolbar>

        <div class="main-content">

            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- Only show login page -->
<router-outlet *ngIf="!showLayout"></router-outlet>