<div class="container">
    <h2 class="heading">Listing From</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="feilds">

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter your name" />
                <mat-error *ngIf="myForm.get('name')?.invalid">Name is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter your email" />
                <mat-error *ngIf="myForm.get('email')?.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="myForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter password" />
                <mat-error *ngIf="myForm.get('password')?.invalid">Password is required</mat-error>
            </mat-form-field>

        </div>
   <div class="button-container">
  <button class="btn" mat-raised-button type="submit" [disabled]="myForm.invalid">
    Submit
  </button>
</div>

    </form>

</div>